In [1]:
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats
import pandas as pd

In [5]:
df_happy = pd.read_csv("../data/clean_data/happiness.csv")
df_happy.head()

,Country Code,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Unnamed: 12
0,FI,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393,7.632
1,NO,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340,7.594
2,DK,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408,7.554
3,IS,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138,7.495
4,CH,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357,7.489

In [6]:
df_alchy = pd.read_csv("../data/clean_data/alcohol.csv")
df_alchy.head()

,Country Code,Country,Data Source,Beverage Types,2009,2008,2007,2006,2005,2004,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,AF,Afghanistan,Data source,All types,0.03,0.03,0.03,0.03,0.02,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AF,Afghanistan,Data source,Beer,0.01,0.01,0.01,0.01,0.01,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AF,Afghanistan,Data source,Wine,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AF,Afghanistan,Data source,Spirits,0.02,0.02,0.02,0.02,0.01,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AF,Afghanistan,Data source,Other alcoholic beverages,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN